.song-item:hover {
  background-color: #dde4e4;
}
.song-item-order:hover {
  background-color: #945ea7;
}
.text-order {
  font-size: 32px;
  color: rgba(77, 34, 104, 0.9);
}
.img-60 {
  width: 60px;
  height: 60px;
}
.img-40 {
  width: 40px;
  height: 40px;
}
.img-84 {
  width: 84px;
  height: 84px;
}
.o .order-bg-color {
  background-color: hsla(0, 0%, 100%, 0.07);
}
.bg-main-500 {
  background-color: #0e8080;
}
.bg-main-200 {
  background-color: #dde4e4;
}
/* .order1 {
} */
